// Scaffolding
$body-bg: #222;
$text-color: white;
$link-color: white;
// Typography
$font-family-sans-serif: "a-otf-ud-shin-go-pr6n", "Yu Gothic", YuGothic, "游ゴシック体", "游ゴシック", "Hiragino Kaku Gothic ProN", Meiryo, "メイリオ", "MS PGothic", sans-serif;
// Navbar
$navbar-margin-bottom: 0;
$navbar-inverse-bg: $body-bg;
$navbar-inverse-border: $navbar-inverse-bg;
// Type
$text-muted: #aaa;

@import "bootstrap-custom";

// General

footer {
  margin: 20px 0;
  font-size: ceil(($font-size-base * 0.85));
}

ul {
  padding-left: 24px;
}

li {
  margin-bottom: 2px;
  line-height: 1.75;
}

dd {
  margin-bottom: 6px;
}

// Index

.skills {
  line-height: 2.2;

  .label {
    background-color: #555;
    margin-right: 3px;
    font-size: 80%;
  }
}

.contribution {
  .label {
    background-color: #555;
  }
}

// Projects

.project {
  margin-bottom: 16px;

  h2 {
    font-size: ceil(($font-size-base * 1.7));
  }

  img {
    width: 100%;
  }

  .tags {
    line-height: 2.0;

    .label-duration {
      background-color: #55ab55;
    }

    .label-tag {
      background-color: #555;
    }
  }

  @media (min-width: 768px) {
    h2 {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      line-height: 1.4;
    }

    .description {
      min-height: 130px;
    }
  }
}
