// Scaffolding
$body-bg: #222;
$text-color: white;
$link-color: white;
// Typography
$font-family-sans-serif: "a-otf-ud-shin-go-pr6n", "Yu Gothic", YuGothic, "游ゴシック体", "游ゴシック", "Hiragino Kaku Gothic ProN", Meiryo, "メイリオ", "MS PGothic", sans-serif;

@import "bootstrap-custom";

footer {
  margin: 20px 0;
}

ul {
  padding-left: 24px;
}

li {
  margin-bottom: 2px;
}

.skills {
  line-height: 2.2;

  .label {
    margin-right: 3px;
    font-size: 80%;
  }
}

.work {
  margin-bottom: 16px;

  img {
    width: 100%;
  }

  .tags {
    line-height: 2.0;
  }

  @media (min-width: 768px) {
    h3 {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      line-height: 1.4;
    }

    .description {
      min-height: 130px;
    }
  }
}

#contributions li {
  line-height: 1.75;
}

dd {
  margin-bottom: 6px;
}

.text-muted {
  color: #888;
}

.label-default {
  background-color: #555;
}

.label-primary {
  background-color: #777;
}

.label-success {
  background-color: #62c462;
}

.label-info {
  background-color: #5bc0de;
}
