html, body {
  background-color: #222;
  color: white;
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

a {
  color: white;
}

a:hover,
a:focus {
  color: white;
}

footer {
  margin: 20px 0;
}

ul {
  padding-left: 24px;
}

li {
  margin-bottom: 2px;
}

.works h3 {
  overflow: hidden;
  text-overflow: ellipsis;
}

.works img {
  width: 100%;
}

.works .description {
  min-height: 80px;
}

dd {
  margin-bottom: 6px;
}

.text-muted {
  color: #888;
}

.label-default {
  background-color: #555;
}

.label-primary {
  background-color: #777;
}
