<!DOCTYPE html>
<html class="no-js" lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {{{ head.title }}}
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0, maximum-scale=1, minimum-scale=1">
    <link rel="stylesheet" href="/bundle.css">
    {{{ head.meta }}}
  </head>
  <body>
  <div id="app">{{{ fragment }}}</div>
  <script src="https://use.typekit.net/geh3hmi.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
  <script src="/bundle.js"></script>
  </body>
</html>
