// Custom version of ress.css, MIT License, https://github.com/filipelinhares/ress/blob/master/ress.css

// Global Selectors

html {
  box-sizing: border-box;
  overflow-y: scroll; // All browsers without overlaying scrollbars
  -webkit-text-size-adjust: 100%; // iOS 8+
}

*,
::before,
::after {
  box-sizing: inherit;
}

::before,
::after {
  text-decoration: inherit; // Inherit text-decoration and vertical align to ::before and ::after pseudo elements
  vertical-align: inherit;
}

// Remove margin, padding of all elements and set background-no-repeat as default
* {
  background-repeat: no-repeat; // Set `background-repeat: no-repeat` to all elements
  padding: 0; // Reset `padding` and `margin` of all elements
  margin: 0;
}

// General elements

hr {
  overflow: visible; // Show the overflow in Edge and IE
}

/*
* Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox
* Correct `block` display not defined for `main` in IE 11
*/
details,
main,
summary {
  display: block;
}

summary {
  display: list-item; // Add the correct display in all browsers
}

[hidden],
template {
  display: none; // Add the correct display in IE
}

abbr[title] {
  border-bottom: 1px dotted; // Add a bordered underline effect in all browsers
  text-decoration: none; // Remove text decoration in Firefox 40+
}

a {
  background-color: transparent; // Remove the gray background on active links in IE 10
  -webkit-text-decoration-skip: objects; // Remove gaps in links underline in iOS 8+ and Safari 8+
}
