$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

$container-sm: 750px;
$container-md: 970px;
$container-lg: 1170px;

$gutter: 30px;

@import "reset";
@import "roboto";

html {
  // See also: src/javascripts/components/Theme.js
  font-family: Roboto,
               "Noto Sans Japanese", "Noto Sans CJK JP",
               "源ノ角ゴシック", "Source Han Sans",
               "Hiragino Sans",
               "游ゴシック", YuGothic,
               "Hiragino Kaku Gothic ProN",
               "メイリオ", Meiryo, sans-serif;
}

body {
  font-size: 13px;
  line-height: 20px;
}

h2 {
  margin: 25px 0;
  font-size: 30px;
  font-weight:300;
}

.container {
  margin: 20px auto;
  padding-left: $gutter / 2;;
  padding-right: $gutter / 2;;
}

@media (min-width: $screen-sm-min) {
  .container {
    width: $container-sm;
  }
}

@media (min-width: $screen-md-min) {
  .container {
    width: $container-md;
  }
}

@media (min-width: $screen-lg-min) {
  .container {
    width: $container-lg;
  }
}

.grid {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;

  margin-left: -$gutter / 2;
  margin-right: -$gutter / 2;
}

[class^="cell-"],
[class*=" cell-"] {
  padding-bottom: 20px;
  padding-left: $gutter / 2;
  padding-right: $gutter / 2;
  width: 100%;

  &.cell-xs-without-gutter {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: $screen-sm-min) {
  @for $i from 1 through 12 {
    .cell-sm-#{$i} {
      width: $i / 12 * 100%;
    }
  }
}

@media (min-width: $screen-md-min) {
  @for $i from 1 through 12 {
    .cell-md-#{$i} {
      width: $i / 12 * 100%;
    }
  }
}

@media (min-width: $screen-lg-min) {
  @for $i from 1 through 12 {
    .cell-lg-#{$i} {
      width: $i / 12 * 100%;
    }
  }
}
