<!DOCTYPE html>
<html lang="ja" prefix="og: http://ogp.me/ns# profile: http://ogp.me/ns/profile#">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Yusuke Miyazaki</title>
    <meta name="description" content="Yusuke Miyazaki's portfolio website.">
    <meta property="og:type" content="profile">
    <meta property="og:title" content="Yusuke Miyazaki">
    <meta property="og:url" content="https://www.ymyzk.com/">
    <meta property="og:image" content="https://www.ymyzk.com/images/ogp.png">
    <meta property="og:locale" content="ja_JP">
    <meta property="og:locale:alternate" content="en_US">
    <meta property="og:site_name" content="Yusuke Miyazaki">
    <meta property="og:description" content="Yusuke Miyazaki's portfolio website.">
    <meta property="profile:first_name" content="Yusuke">
    <meta property="profile:last_name" content="Miyazaki">
    <meta property="profile:username" content="ymyzk">
    <meta name="theme-color" content="#222">
    <link rel="stylesheet" href="stylesheets/index.css">
  </head>
  <body>
    <!--
    <header>
      <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Yusuke Miyazaki</a>
          </div>
          <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav">
              <li><a href="#about">About</a></li>
              <li><a href="#works">Works</a></li>
              <li><a href="#talks">Talks</a></li>
              <li><a href="#contributions">Contributions</a></li>
              <li><a href="#links">Links</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    -->
    <div class="container">
      {% block contents %}{% endblock %}
    </div>
    {% block javascripts %}{% endblock %}
    {% if debug %}
    <script src="javascripts/jquery.js"></script>
    <script src="javascripts/bootstrap.js"></script>
    {% else %}
    <script src="javascripts/jquery.min.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
    {% endif %}
    <script src="https://use.typekit.net/eas5muj.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    {% if not debug %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-41988513-2', 'auto');
      ga('send', 'pageview');
    </script>
    {% endif %}
  </body>
</html>
