{% extends "base.html" %}

{% block contents %}
  <h1>Contributions</h1>
  <section class="row" id="contributions">
    <div class="col-xs-12">
      <h2></h2>
      <ul>
        {% for contrib in contributions %}
        <li class="contribution">
          <a href="{{ contrib.link }}">{{ contrib.name }}</a>
          {% for role in contrib.roles %}
          <span class="label">{{ role }}</span>
          {% endfor %}
        </li>
        {% endfor %}
      </ul>
    </div>
  </section>
{% endblock %}

{% block javascripts %}
{% endblock %}
