{% extends "base.html" %}

{% block contents %}
  <h1>Yusuke Miyazaki</h1>
  <section class="row" id="about">
    <div class="col-xs-12">
      <h2>About</h2>
    </div>
    <section class="col-sm-4">
      <h3>Profile</h3>
      <dl>
        <dt>Name</dt>
        <dd>Yusuke Miyazaki (宮崎 勇輔) <span class="text-muted">@ymyzk</span></dd>
        <dt>Location</dt>
        <dd>Kyoto, Japan</dd>
        <dt>Age</dt>
        <dd>{{ age }}</dd>
      </dl>
    </section>
    <section class="col-sm-4">
      <h3>Affiliation</h3>
      <dl>
        <dt>University</dt>
        <dd><a href="http://www.fos.kuis.kyoto-u.ac.jp/">Faculty of Engineering, Kyoto University</a></dd>
        <dt>Company</dt>
        <dd><a href="http://www.unimap.co.jp/">President & Co-founder, Unimap, Inc.</a></dd>
        <dt>Community</dt>
        <dd><a href="https://camph.net/">CAMPHOR-</a></dd>
      </dl>
    </section>
    <section class="col-sm-4">
      <h3>Skills</h3>
      <div class="skills">
        {% for skill in skills %}
        <span class="label">{{ skill }}</span>
        {% endfor %}
      </div>
    </section>
  </section>
  <section class="row" id="works">
    <div class="col-xs-12">
      <h2>Works</h2>
    </div>
    {% for work in works %}
    <div class="col-sm-6 col-md-4 col-lg-3 work">
      <h3><a href="{{ work.link }}">{{ work.title }}</a></h3>
      <div class="description">
        <p>
          {{ work.description }}
        </p>
        <p class="tags">
          <span class="label label-duration">{{ work.duration }}</span>
          {% for tag in work.tags %}
            <span class="label label-tag">{{ tag }}</span>
          {% endfor %}
        </p>
      </div>
    </div>
    {% endfor %}
  </section>
  <div class="row">
    <section class="col-sm-6" id="talks">
      <h2>Talks</h2>
      <ul>
        {% for talk in talks %}
        <li>
          <a href="{{ talk.link }}">{{ talk.title }}</a>
          &mdash; {{ talk.event }}
          <time class="text-muted" datetime="{{ talk.date }}">{{ talk.date }}</time>
        </li>
        {% endfor %}
      </ul>
    </section>
    <section class="col-sm-6" id="contributions">
      <h2>Contributions</h2>
      <ul>
        {% for contrib in contributions %}
        <li class="contribution">
          <a href="{{ contrib.link }}">{{ contrib.name }}</a>
          {% for role in contrib.roles %}
          <span class="label">{{ role }}</span>
          {% endfor %}
        </li>
        {% endfor %}
      </ul>
    </section>
  </div>
  <section class="row" id="links">
    <div class="col-xs-12">
      <h2>Links</h2>
    </div>
    <div class="col-sm-6">
      <ul>
        {% for link in links %}
        <li><a href="{{ link.link }}">{{ link.title }}</a></li>
        {% endfor %}
      </ul>
    </div>
    <div class="col-sm-6">
      <ul>
        {% for link in links2 %}
        <li><a href="{{ link.link }}">{{ link.title }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </section>
  <footer class="text-right">
    Powered by <a href="https://github.com/ymyzk/portfolio" target="_blank">the static site generator</a> written in Python.<br>
    Copyright &copy; {{ copyright_years.start }}-{{ copyright_years.end }}, Yusuke Miyazaki.
  </footer>
{% endblock %}

{% block javascripts %}
  <script type="application/ld+json">
    {% include "index.json" %}
  </script>
{% endblock %}
