{% extends "base.html" %}

{% block contents %}
  <h1>Projects</h1>
  <section class="row">
    {% for project in projects %}
    <div class="col-sm-6 col-md-4 col-lg-3 project">
      <h2><a href="{{ project.link }}">{{ project.title }}</a></h2>
      <div class="description">
        <p>
          {{ project.description }}
        </p>
        <p class="tags">
          <span class="label label-duration">{{ project.duration }}</span>
          {% for tag in project.tags %}
            <span class="label label-tag">{{ tag }}</span>
          {% endfor %}
        </p>
      </div>
    </div>
    {% endfor %}
  </section>
{% endblock %}

{% block javascripts %}
{% endblock %}
