{% extends "base.html" %}

{% block contents %}
  <h1>Talks</h1>
  <section class="row">
    <div class="col-xs-12" id="talks">
      <ul>
        {% for talk in talks %}
        <li class="talk">
          <a href="{{ talk.link }}">{{ talk.title }}</a>
          &mdash; {{ talk.event }}
          <time class="text-muted" datetime="{{ talk.date }}">{{ talk.date }}</time>
        </li>
        {% endfor %}
      </ul>
    </div>
  </section>
{% endblock %}

{% block javascripts %}
{% endblock %}
